@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    padding: 15px 30px 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2rem;
}

.app-title{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.app-title h2, .app-title i{
    font-size: 35px;
    color: #002765;
    font-weight: 800;
}

.app-title h4 {
    padding: 10px;
    font-size: 15px;
    color: #fe240c;
    text-align: center;
    border: 2px solid #fe240c;
    border-radius: 10px;
}

.app-title i{
    font-size: 26px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
}

input{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 12px;
    font-size: 17px;
    padding-left: 20px;
}

button{
    border: none;
    cursor: pointer;
    outline: none;
    padding: 15px 50px;
    border-radius: 30px;
    background-color: #ff5945;
    color: #fff;
    font-size: 18px;
    transition: all .25s ease;
}

button:hover{
    filter: brightness(.8);
}

@media screen and (max-width: 400px) {
    button{
        padding: 15px;
        border-radius: 0 30px 30px 0;
    }
}

ul{
    list-style: none;
}

ul li{
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    margin-top: 5px;
    user-select: none;
    position: relative;
}

ul li::before{
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    left: 0;
    border: 2px solid #ff5945;
}

ul p {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: #edeef0;
    margin-right: 30px;
}

ul .checked{
    color: #555;
    text-decoration: line-through;
}

ul .checked::before{
    background-color: #ff5945;
}

span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-40%);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    font-size: 30px;
    transition: all .2s ease;
}

span:hover{
    cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 30,
  'wght' 700,
  'GRAD' 0,
  'opsz' 0,
}